apiVersion: v1
kind: ConfigMap
metadata:
  name: zeni-x-config
  namespace: zeni-x
data:
  SERVER_PORT: "8080"
  SERVER_MODE: "release"
  SQLITE_PATH: "/data/zeni-x.db"
  MYSQL_HOST: "mysql.dev-services.svc.cluster.local"
  MYSQL_PORT: "3306"
  MYSQL_USER: "root"
  REDIS_HOST: "redis.dev-services.svc.cluster.local"
  REDIS_PORT: "6379"
  REDIS_DB: "0"

